$background: #e8e7e5;
$primary-color: #005dab;

body {
  background-color: $background;
  font-family: 'Roboto', sans-serif;
}

.pagebody {
  display: flex;
  padding: 2em 2em 2em 2em;
}

a {
  text-decoration: none;
}
.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  padding: .5em 1em;
  border-radius: .01em;
  color: white;
  transition: all 200ms;
  letter-spacing: .1em;
  border: none;
  background-color: $primary-color;
}
.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px white, 0px 0px 0px 3px $primary-color;
}
.btn:active {
  background-color: darken($primary-color, 10%);
}

/* Sidenav */
.sidenav__tabs {
  text-align: right;
  background-color: $primary-color;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.sidenav__tab {
  align-self: flex-start;
  width: 100px;
  list-style-type: none;
  /*   border-bottom: 1px solid #ccc; */
  padding: .6em .4em .6em .8em;
  color: #eee;
  font-size: 1.1em;
  // font-weight: 300;
  letter-spacing: 0;
  transition: all 300ms;
}
.sidenav__tab:hover {
  background-color: darken($primary-color, 10%);
  cursor: pointer;
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.22);
}
.sidenav__tab__info {
  font-size: .65em;
  margin-top: 3px;
  color: #ccc;
  font-style: italic;
  letter-spacing: 0;
}
.active-tab {
  background-color: darken($primary-color, 10%);
  box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.22);
}
/* End Sidenav */

.rightsection {
  width: 100%;
  margin-left: 10px;
  background-color: white;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  align-self: flex-start;
}

/* Styles for Link box li */
.linkli__header {
  background-color: $primary-color;
  color: white;
  padding: .7em;
  text-align: center;
  font-style: italic;
}
.linkli {
  display: flex;
  border-top: 1px solid #ccc;
  // border-left: 1px solid #ccc;
  // border-right: 1px solid #ccc;
  padding: 1em;
  background-color: white;
}
.linkli__title {
  font-size: 1.2em;
  margin-bottom: 8px;
}
.linkli__url {
  font-style: italic;
  font-size: 0.8em;
  color: #777;
}
.flexleft {
  color: #333300;
  width: 100%;
}
.deletebutton {
  align-self: center;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}
/* End style for Link box li */
