<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Http based Form</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.3.4/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
  <header>
    <div class="navbar navbar-default">
      <div class="navbar-header"><h1>Form.html</h1></div>
      <div class="nav navbar-nav navbar-right cart">
        <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">
          <span class="glyphicon glyphicon-shopping-cart">0</span> Checkout
        </button>
      </div>
    </div>
  </header>
  <main>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        dddd
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        eeeeeeeeeeeeeeeeeeeeeeedddd
      </div>
    </div>   
  </main>


  <v-app id="inspire">
    <datatable-component></datatable-component>
  </v-app>

 </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.3.4/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script>
const DataTableComponent = {
  template: `
  <v-container fluid grid-list-md>
    <div>
      <v-data-table :headers="headers" :items="games" :pagination.sync="pagination">
        <template slot="items" slot-scope="props">
          <td>{{ props.item.organiser}}</td>
          <td>{{ props.item.round}}</td>
          <td>{{ props.item.home_team}}</td>
          <td>{{ props.item.away_team}}</td>
          <td>{{ props.item.start | moment }</td>
          <td>{{ props.item.id}}</td>
          <td><v-icon small @click="betItem(props.item,1)">add_shopping_cart</v-icon></td>
          <td><v-icon small @click="editItem(props.item)">edit</v-icon></td>
        </template>
      </v-data-table>
    </div>      
    <v-dialog v-model="betdialog" max-width="500px">
      <v-card dark color="blue-grey">
        <v-card-title><span class="headline">Select Your Favorite Team</span></v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
              <v-flex xs4 v-for="item in teams" :key="item.id">
                <input type="radio" v-model="selectedItem.bet_team" :value="item.name">{{item.name}}
              </v-flex>  
            </v-layout> 
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="black" flat @click.native="saveBet">Bet</v-btn>
          <v-btn color="black" flat @click.native="closeBet">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>  
     <v-dialog v-model="editdialog" max-width="500px">
      <v-card dark color="blue-grey">
        <v-card-title><span class="headline">Select Your Favorite Team</span></v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout row wrap>
                <div class="col-md-6"><strong>Home Team:</strong>
                  <input v-model="editedItem.home_team" class="form-control"/>
                </div>                
                <div class="col-md-6"><strong>Away Team:</strong>
                  <input v-model="editedItem.away_team" class="form-control"/>
                </div>
                <div class="col-md-6"><strong>Game Date:</strong>
                  <input v-model="editedItem.start" class="form-control"/>
                </div>
                <div class="col-md-12 verify">
                  <pre>
                    Home Team: {{editedItem.home_team}}
                    Away Team: {{editedItem.away_team}}
                    Game Date: {{editedItem.start}}
                  </pre>
                </div>               
            </v-layout> 
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="black" flat @click.native="save">save</v-btn>
          <v-btn color="black" flat @click.native="close">Cancel</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>   
    </v-container>
  `,
  data() {
    return {
      err: '',
      betdialog: false,
      editdialog: false,
      rowsPerPageItems: [4, 8, 12],
      pagination: { rowsPerPage: 4 },
      headers: [ { text: 'Organiser', value: 'organiser' },{ text: 'Round', value: 'round' }
              ,{ text: 'game#',       value: 'id' }],
      editedIndex: -1,
      editedItem: { organiser: '', round: '', home_team: '', away_team: '', start: '', teams: []
                , bet_winner: '', bet_odd: 0
                , odd_date: '', home_odd: 0, away_odd: 0, selected_odd: 1      
                , home_score: 0, away_score: 0
                , venue: ''
                , pool_id: 0, username: '', id: 0 },
      bettedItem: {},
      organiser:'',
      games: [],
      teams: [],
      selectedItem: { tid: '',      pool_id: '',    gid: '', home_team:'', away_team: '', bet_team: ''
                    , username: '', organiser: '',  round: ''},         
    }
  },
  filters: { moment: function (date) { return moment(date).format('YYYY-MM-DD'); } },
  methods: {
    editItem: function(item){
      console.log('51) editItem: this.editedItem');
      console.log(this.editedItem);     
      this.editedIndex = this.games.indexOf(item);
      this.editedItem = Object.assign({}, item);
/*
      this.editedItem.id = item.id;
      this.editedItem.name = item.name;
      this.editedItem.date = item.date;
*/
      this.editdialog = true;  

    },     
    save() {   
      console.log("59)save > this.editedItem", this.editedItem);   
      this.close();
    }, 
    betItem: function(item, bet_index){
      console.log('61) betItem > item',item);
      this.editedIndex = this.games.indexOf(item);
      this.editedItem = Object.assign({}, item);   
      this.editedItem.bet_winner =  (bet_index == 1) ? this.editedItem.home_team : this.editedItem.away_team;
      this.editedItem.bet_odd    =  (bet_index == 1) ? this.editedItem.home_odd : this.editedItem.away_odd;

      this.editedItem.teams=[];
      this.editedItem.teams.push(this.editedItem.home_team);
      this.editedItem.teams.push(this.editedItem.away_team);
     
      this.editedItem.id       = item.id;
      this.editedItem.pool_id  = item.id;
      this.editedItem.odd_date = item.odd_date;
      this.editedItem.start     = item.start;
//      this.editedItem.username = this.$store.state.loginUser.username;
      this.betdialog = true;  
    },
    saveBet () {
      console.log("65) betsave > this.selectedItem", this.selectedItem);       
      console.log("66) this.editedItem", this.editedItem);   
      this.closeBet();
    },
    close() { this.editdialog = false; },
    closeBet() { this.betdialog = false; },
    getTeams(organiser) {
      console.log('20) getTeams', organiser);  
      this.result = 'Getting data from server...';
      var postdata = { op: "getOrgTeams", id: organiser }; 
      this.$http.post('/php/apiTeam.php', JSON.stringify(postdata)
                                        , { headers: {'Content-Type': 'application/json'}
        }).then(response=>{ this.teams = response.body.data;
                              console.log('21) this.teams', this.teams);  
        }, response=> {this.result = 'Failed to load data to server.';
        });
       
    },
    getAllData: function () {
      console.log('10) getAllData', this.organiser);
      this.result = 'Getting data from server...';
      var postdata = { op: "getOrgGames", id: this.organiser };
      this.$http.post('/php/apiGame.php', JSON.stringify(postdata)
                                        , { headers: { 'Content-Type': 'application/json' }
        }).then(response => { this.games = response.body.data;
                              console.log('11) this.games', this.games);
                              this.getTeams(this.organiser);  
        },      response => { this.result = 'Failed to load data to server.';
        });
    },
  },  // end of methods
  beforeMount(){
    this.organiser='NBA';
    this.getAllData();
  }
/*
      if(this.editedItem.bet_winner==''){     // mysql name (match) problem 
          this.error = 'bet winner field is required';           // use select `match`, ....
          return;
      };
      console.log("3) betsave - ok");
      console.log(this.editedItem);
      this.error = '';
      this.result = 'Saving data to server...';
      var postdata = { "op": "addcount", "data": this.editedItem };      
      this.$http.post('/php/apiPoolGames.php', postdata,{ headers: { 'Content-Type': 'application/json' } })
        .then(response => {
        }, response => { this.result = 'Failed to save data to server.'; }
        );    
      //----------------------
      this.bettedItem = this.editedItem;

      this.bettedItem.id = 0;    // insert new bet
      this.bettedItem.game_winner='';
      this.bettedItem.bet_type = "head2head";

      this.bettedItem.game_name = this.editedItem.name;
      this.bettedItem.game_date = this.editedItem.date;
      this.bettedItem.odd_date = this.editedItem.odd_date;
      this.bettedItem.bet_odd = this.editedItem.selected_odd;
      this.bettedItem.pool_id = this.editedItem.pool_id;    // keep pool_id (id = 0 ????)
      this.bettedItem.bet_amount = this.editedItem.bet_amount;    // editedItem.entry_cost for quorum only
      // ----- problems below: null values needs defaults (head 2 head does need these data in bet table) ------------
      this.bettedItem.venue = "";       
      this.bettedItem.home_score = 0;
      this.bettedItem.away_score = 0;
      this.bettedItem.bet_odd = 1;
      this.bettedItem.bet_score1 = 0;
      // =====================================================
      var postdata = { "op": "save", "data": this.bettedItem };      
      this.$http.post('/php/apiBet.php', postdata,{ headers: { 'Content-Type': 'application/json' } })
        .then(response => {
        }, response => { this.result = 'Failed to save data to server.'; }
        ); 
*/    
};
new Vue({
  el: '#app',
  components: { 'datatable-component' : DataTableComponent }
});   // Vue
</script>
</body>
</html>