<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>tabs.html</title>
  <link href="../css/tabs_test.css" rel="stylesheet">
</head>
<body>
<main id="app" class="pagebody">
  <nav>
    <ul class="sidenav__tabs">
      <li class="sidenav__tab" v-for="category in categories" @click="selectedCategory = category" :class="{ 'active-tab': selectedCategory == category }">
        {{ category }}
        <p class="sidenav__tab__info">{{ categoryCount(category).length }} Bookmarks</p>
      </li>
    </ul>
  </nav>
  <section class="rightsection">  
      <ul>
        <li class="linkli__header">{{ selectedCategory }} ({{ categoryCount(selectedCategory).length }})</li>
        <li v-for="link in filteredLinks" :class="{current: selectedCategory == link.category }" class="linkli">
          <a class="flexleft" target="_blank" :href="link.url">
            <p class="linkli__title">{{ link.title }}</p>
            <p class="linkli__url">{{ link.url }}</p>
          </a>
          <a @click.prevent.stop="deleteItem(link)" class="btn deletebutton" href="#">Delete</a>
        </li>
      </ul>
  </section>
</main>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
new Vue({
  el: "#app",
  data: {
    links: [
      {
        title: "Jetsilk - dolor et ut nostrud",
        category: "Financial",
        url: "https://Orbalix.com/tempor/cillum/excepteur"
      },
      {
        title: "Songlines - veniam nulla duis aute",
        category: "Training",
        url: "https://Diginetic.com/aliqua/enim/enim"
      },
      {
        title: "Isodrive - eiusmod exercitation esse Lorem",
        category: "Sales",
        url: "https://Emtrak.com/exercitation/labore/deserunt"
      },
      {
        title: "Cedward - id pariatur nostrud ex",
        category: "Research",
        url: "https://Exozent.com/veniam/ut/culpa"
      },
      {
        title: "Geekosis - voluptate amet in nulla",
        category: "Financial",
        url: "https://Terrago.com/sint/nisi/mollit"
      },
      {
        title: "Viasia - labore ipsum elit sint",
        category: "Training",
        url: "https://Aquoavo.com/cupidatat/id/laboris"
      },
      {
        title: "Futurize - in sint velit commodo",
        category: "Financial",
        url: "https://Mangelica.com/mollit/ut/exercitation"
      },
      {
        title: "Zoid - exercitation magna consectetur ipsum",
        category: "Research",
        url: "https://Comvex.com/fugiat/sint/sit"
      },
      {
        title: "Tingles - incididunt aute irure dolor",
        category: "Training",
        url: "https://Realmo.com/ea/mollit/tempor"
      },
      {
        title: "Dymi - et nulla exercitation veniam",
        category: "Sales",
        url: "https://Zeam.com/do/reprehenderit/culpa"
      }
    ],
    categories: [],
    selectedCategory: ''
  },
  computed: {
    filteredLinks() {
      return this.links.filter(link => {
        return link.category.match(this.selectedCategory);
      });
    }
  },
  methods: {
    getCategories() {
      let categoriesSet = new Set();
      this.links.forEach((link) => {
        categoriesSet.add(link.category);
      });
      this.categories = Array.from(categoriesSet);
    },
    categoryCount(category) {
      return this.links.filter(link => {
        return link.category.match(category);
      })
    },
    deleteItem(link) {
      if (confirm("Are you sure?")) {
        let index = this.links.indexOf(link);
        this.links.splice(index, 1);
      }
    }
  },
  created() {
    this.getCategories();
    this.selectedCategory = this.categories[0];
  }
});
</script>
</body>
</html>