<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js-Index.html</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
   <link rel="stylesheet" href="/css/movie.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <div id="title">
      <img src="/images/afl.png">
      <h1>Vue.js Cinema</h1>
    </div>
    <div id="overview">
      <div id="main">
        <movie-list v-bind:genre="genre" v-bind:time="time"></movie-list>
        <movie-filter v-on:check-filter="checkFilter"></movie-filter>
      </div>
    </div>
  </div>     
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
    genres = Object.freeze({
              ANIMATION: 'Animation',     COMEDY: 'Comedy', CRIME: 'Crime',
              DOCUMENTARY: 'Documentary', DRAMA: 'Drama',   FANTASY: 'Fantasy',
              HORROR: 'Horror' });

    new Vue({
      el: '#app',
      data: {
        genre: [],
        time: []
      },
      methods: {
        checkFilter(category, title, checked) {
          console.log("root");
          console.log(category, title, checked);
          if (checked) {
            this[category].push(title);
          } else {
            let index = this[category].indexOf(title);
            if (index > -1) {
              this[category].splice(index,1);
            }
          }
        }
      },
      components: {
        'movie-list': {
          props: [ 'genre', 'time'],
          template: 
            `<div id="movie-list">
              <div v-for="movie in filteredMovies" class="movie">{{movie.title}}</div>
            </div>
            `,
          data: function() {
            return {
              movies: [
                { title: 'Pulp Fiction',  genre: genres.CRIME },
                { title: 'Home Alone',    genre: genres.COMEDY },
                { title: 'Austin Powers', genre: genres.COMEDY }
              ]
            };
          },
          methods: {
            moviePassesGenreFilter(movie) {
              if (!this.genre.length) { 
                return true; 
              } else {
                return this.genre.find(genre => movie.genre === genre);
              }
            }
          },
          computed: {
            filteredMovies() {
              return this.movies.filter(this.moviePassesGenreFilter);
            }
          }
        },
        'movie-filter': {
          template: 
            `<div id="movie-filter">
                <h2>Filter results</h2>
                <div class="filter-group">
  <check-filter v-for="genre in genres" v-bind:title="genre" v-on:check-filter="checkFilter" :key="genre"></check-filter>
                </div>
            </div>`,
          data() {
            return {
              genres: {},
            }
          },
          created() { 
            console.log('1) movie-filter: created');
            this.genres = Object.freeze({
              ANIMATION: 'Animation',     COMEDY: 'Comedy', CRIME: 'Crime',
              DOCUMENTARY: 'Documentary', DRAMA: 'Drama',   FANTASY: 'Fantasy',
              HORROR: 'Horror' });
            console.log(this.genres);
          },
          methods: {
            checkFilter(category, title, checked) {
              console.log("2) checkFilter-comp:movie-filter");
              this.$emit('check-filter', category, title, checked);
            }
          },
          components: {
            'check-filter': {
              props: ['title'],
              template: `<div v-bind:class="{ 'check-filter': true, active:checked }"
                  v-on:click="checkFilter">
              <span class="checkbox"></span>
              <span class="check-filter-title">{{title}}</span>
              </div>`,
              data() {
                return {
                  checked: false
                }
              },
              methods: {
                checkFilter() {
                  console.log("1) checkFilter-comp:check-filter");
                  this.checked=!this.checked;
                  this.$emit('check-filter','genre', this.title, this.checked);
                }
              }
            }
          }
        },
      },
    })
  </script>
</body>
</html>