<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<head>
  <title>Demo Vue.js+PHP+MySQL</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app" class="container">
  <v-app>
    <v-toolbar color="cyan" dark tabs>
      <v-toolbar-side-icon><img src="images/tristars2.png" width="70" height="40"></v-toolbar-side-icon>
      <v-toolbar-title>AFL Tournaments</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon href="/checkout.html"><v-icon>shopping_cart</v-icon></v-btn>
      <v-btn icon href="/profile.html"><v-icon>folder_open</v-icon></v-btn>

      <v-btn color="success" href="/apiUser.html">Users<v-icon>account_box</v-icon></v-btn>
      <v-btn color="warning" href="/apiProduct.html">New Products<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="info" href="/apiTournament.html">Games<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="warning" href="/apiCustomer.html">Customer Profile<v-icon>account_box</v-icon></v-btn>      
      <v-btn color="error" href="/apiRegister.html">Sign Up<v-icon>how_to_reg</v-icon></v-btn>
      <v-btn color="success" href="/apiLogin.html">Sign in<v-icon>input</v-icon></v-btn>
      <v-btn color="info" href="/apiLogin.html">Log out<v-icon>logout</v-icon></v-btn>
      <v-btn icon><v-icon>search</v-icon></v-btn>
      <v-btn icon><v-icon>more_vert</v-icon></v-btn>

      <v-tabs slot="extension" v-model="tabs" color="grey" align-with-title>
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="tabs">
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            Personal content
            <v-flex xs12 sm6 d-flex><v-text-field append-icon="person" label="Username" type="text" v-model="user.username"></v-text-field></v-flex>
            <v-flex xs12 sm6 d-flex><v-text-field append-icon="lock" label="Password" type="password" v-model="user.password"></v-text-field></v-flex>
            <v-flex xs6><v-text-field append-icon="email" label="Email" type="text" v-model="user.email"></v-text-field></v-flex>
            <v-flex xs6>
              <v-combobox v-model="user.role" :items="roles" label="Select your role:"></v-combobox>
            </v-flex>
          </v-card-text></v-card></v-tab-item>             
      <v-tab-item>
        <v-icon>motorcycle</v-icon>
        <v-card flat>
          <v-card-text>
            Address content
            <v-layout row wrap>
              <v-flex xs6><v-text-field append-icon="person" label="First name" type="text" v-model="user.firstname"></v-text-field></v-flex>
              <v-flex xs6><v-text-field append-icon="person" label="Last name" type="text" v-model="user.lastname"></v-text-field></v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs6><v-text-field append-icon="home" name="address1" label="Address 1" type="text" v-model="user.address1"></v-text-field></v-flex>
              <v-flex xs6><v-text-field append-icon="home" name="address2" label="Address 2" type="text" v-model="user.address2"></v-text-field></v-flex>
            </v-layout> 
          </v-card-text></v-card></v-tab-item>
      <v-tab-item>
        <v-icon>pets</v-icon>
        <v-card flat>
          <v-card-text>
            Banking Details
            <v-layout row wrap>
              <v-flex xs4><v-text-field append-icon="home" label="Town" type="text" v-model="user.town"></v-text-field></v-flex>
              <v-flex xs4><v-text-field append-icon="home" label="Postcode" type="text" v-model="user.postcode"></v-text-field></v-flex>
              <v-flex xs4><v-select append-icon="outlined_flag" label="Country" v-model="user.country" :items="countries"></v-select></v-flex>
            </v-layout>                        
            <v-layout row wrap>
              <v-flex xs6><v-text-field append-icon="outlined_flag" name="bsb" label="Bank BSB" type="text" v-model="user.bankbsb"></v-text-field></v-flex>
              <v-flex xs6><v-text-field append-icon="home" name="bankaccount" label="Bank account" type="text" v-model="user.bankaccount"></v-text-field></v-flex>
            </v-layout>  
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="node_modules/vuetify/dist/vuetify.js"></script>
<script src="lib/accounting.js"></script>

<script src="node_modules/vuex/dist/vuex.js"></script>
<script src="node_modules/lodash/lodash.js"></script>

<script src="js/main_secured.js"></script>
<script src="components/customerinfo.js"></script>
<!--
<script src="components/mystore.js"></script>  
-->
</body>
</html>  