<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<head>
  <title>Demo Vue.js+PHP+MySQL</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.14/vuetify.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app" class="container">
  <v-app id="login" class="primary">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4 lg4>
            <v-card class="elevation-1 pa-3">
              <v-card-text>
                <div class="layout column align-center">
                  <img src="images/tipstars.jpg" alt="Vue Material Admin" width="250" height="150">
                  <h1 class="flex my-4 primary--text">Toby Sports</h1>
                </div>         
                <v-form>
<!--                  <div>UserId:{{ myId }}</div>  -->
                  <v-text-field append-icon="person" label="Login" type="text" v-model="model.username"></v-text-field>
                  <v-text-field append-icon="lock" label="Password" id="password" type="password" v-model="model.password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-btn icon><v-icon color="blue">fa fa-facebook-square fa-lg</v-icon></v-btn>
                <v-btn icon><v-icon color="red">fa fa-google fa-lg</v-icon></v-btn>
                <v-btn icon><v-icon color="light-blue">fa fa-twitter fa-lg</v-icon></v-btn>
                <v-spacer></v-spacer>
                <v-btn block color="primary" @click="login" :loading="loading">Login</v-btn>
                <v-btn block color="secondary" href="/apiRegister.html">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.14/vuetify.js"></script>
<script src="lib/accounting.js"></script>

<script src="https://unpkg.com/vuex"></script>
<script src="node_modules/lodash/lodash.js"></script>
<script src="components/mystore.js"></script>

<script src="components/mylogin.js"></script>
</body>
</html>
