<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
    <link href="https://unpkg.com/vuex" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" 
  media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
  <v-app id="profile">
    <v-toolbar color="cyan" dark tabs>
      <v-toolbar-side-icon></v-toolbar-side-icon>  
      <v-toolbar-title>My Profile</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon href="/checkout.html"><v-icon>shopping_cart</v-icon></v-btn>
      <v-btn icon href="/profile.html"><v-icon>folder_open</v-icon></v-btn>

      <v-btn color="success" href="/apiUser.html">Users<v-icon>account_box</v-icon></v-btn>
      <v-btn color="warning" href="/apiProduct.html">New Products<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="warning" href="/apiTournament.html">Games<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="warning" href="/apiCustomer.html">Customer Profile<v-icon>account_box</v-icon></v-btn>      
      <v-btn color="error" href="/apiRegister.html">Sign Up<v-icon>how_to_reg</v-icon></v-btn>
      <v-btn color="success" href="/apiLogin.html">Sign in<v-icon>input</v-icon></v-btn>
      <v-btn color="error" href="/apiLogin.html">Log out<v-icon>logout</v-icon></v-btn>
      <v-btn icon><v-icon>search</v-icon></v-btn>
      <v-btn icon><v-icon>more_vert</v-icon></v-btn>


      <v-tabs slot="extension" v-model="tabs" color="cyan" align-with-title>
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="item in g1items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>
    <v-tabs-items v-model="tabs">
      <v-tab-item><custinfo></custinfo></v-tab-item>
      <v-tab-item>
        <v-icon>pets</v-icon>
        <v-card flat>
          <v-card-text>
            History            
            <v-data-table :headers="columns" :items="rows">
              <template slot="items" slot-scope="props">                    
                <td>{{ props.item.id }}</td>
                <td class="text-xs-right">{{ props.item.ticker }}</td>
                <td class="text-xs-right">{{ props.item.sector }}</td>
                <td class="text-xs-right">{{ props.item.pe }}</td>
                <td class="text-xs-right">{{ props.item.earning }}</td>
                <td class="text-xs-right">{{ props.item.dividend }}</td>
                <td class="text-xs-right">{{ props.item.lastprice }}</td>
                <td class="text-xs-right">{{ props.item.retavg }}</td>
                <td class="text-xs-right">{{ props.item.stddev }}</td>
                <td class="text-xs-right">{{ props.item.sharpe }}</td>                
                <td class="text-xs-right">{{ props.item.maxdrawdown }}</td>  
              </template> 
              <template slot="footer">
                <td><strong>Sum</strong></td>
                <td class="text-xs-right">dividend totals: {{ totals.dividend }}</td>
                <td class="text-xs-right">lastprice totals: {{ totals.lastprice }}</td> 
              </template>   
            </v-data-table>          
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item><tournamentinfo></tournamentinfo></v-tab-item>
    </v-tabs-items>
  </v-app>
</div>       <!-- app -->

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" charset="utf-8"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/vuetable-2@1.7.5"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>

<script src="lib/vue-echarts.js"></script>
<script src="lib/vue-select.js"></script>

<script src="lib/accounting.js"></script>
<script src="lib/moment.min.js"></script>

<script src="node_modules/vuex/dist/vuex.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="components/mystore.js"></script>
<script src="components/tournamentinfo.js"></script>
<script src="components/customerinfo.js"></script>
<script src="components/myprofile.js"></script>

</html>