<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<head>
  <title>Demo Vue.js+PHP+MySQL</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="node_modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app" class="container">
  <v-app>
    <v-toolbar color="cyan" dark tabs>
      <v-toolbar-side-icon><img src="images/tristars2.png" width="70" height="40"></v-toolbar-side-icon>
      <v-toolbar-title>AFL Tournaments</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon href="/checkout.html"><v-icon>shopping_cart</v-icon></v-btn>
      <v-btn icon href="/profile.html"><v-icon>folder_open</v-icon></v-btn>

      <v-btn color="success" href="/apiUser.html">Users<v-icon>account_box</v-icon></v-btn>
      <v-btn color="warning" href="/apiProduct.html">New Products<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="info" href="/apiTournament.html">Games<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="warning" href="/apiCustomer.html">Customer Profile<v-icon>account_box</v-icon></v-btn>      
      <v-btn color="error" href="/apiRegister.html">Sign Up<v-icon>how_to_reg</v-icon></v-btn>
      <v-btn color="success" href="/apiLogin.html">Sign in<v-icon>input</v-icon></v-btn>
      <v-btn color="info" href="/apiLogin.html">Log out<v-icon>logout</v-icon></v-btn>
      <v-btn icon><v-icon>search</v-icon></v-btn>
      <v-btn icon><v-icon>more_vert</v-icon></v-btn>

      <v-tabs slot="extension" v-model="tabs" color="grey" align-with-title>
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="tabs">
      <v-tab-item>
        <v-toolbar flat color="white">
          <v-toolbar-title><v-icon>pets</v-icon>AFL Tournament</v-toolbar-title>
          <v-divider class="mx-2" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
            <v-btn slot="activator" color="primary" dark class="mb-2">New Item</v-btn>
            <v-card>
              <v-card-title><span class="headline">{{ formTitle }}</span></v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>
                    <v-flex xs12 sm6 md4><v-text-field v-model="editedItem.round" label="Round"></v-text-field></v-flex>
                    <v-flex xs12 sm6 md4><v-text-field v-model="editedItem.date" label="Date"></v-text-field></v-flex>
                    <v-flex xs12 sm6 md4><v-text-field v-model="editedItem.home_v_away_teams" label="Home v away teams"></v-text-field></v-flex>
                    <v-flex xs12 sm6 md4><v-text-field v-model="editedItem.venue" label="Venue"></v-text-field></v-flex>
                    <v-flex xs12 sm6 md4><v-text-field v-model="editedItem.result" label="Result"></v-text-field></v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
                <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>   
        </v-toolbar>
        <v-layout wrap>
          <v-flex xs6 sm3><v-select label="Round" :items="roundList" v-model="gameRound" @input="after1selection"></v-select></v-flex>
          <v-flex xs6 sm3><v-select label="Venue" :items="venueList" v-model="gameVenue" @input="after2selection"></v-select></v-flex>
        </v-layout>
        <v-card flat>
          <v-card-text>Rounds                        
            <v-data-table 
              :pagination.sync="pagination"
              :headers="columns" 
              :items="filteredItems">
              <template slot="items" slot-scope="props">                    
                <td>{{ props.item.id }}</td>
                <td class="text-xs-left">{{ props.item.round }}</td>
                <td class="text-xs-left">{{ props.item.date }}</td>
                <td class="text-xs-left">{{ props.item.home_v_away_teams }}</td>
                <td class="text-xs-left">{{ props.item.venue }}</td>
                <td class="text-xs-left">{{ props.item.result }}</td>
                <td class="justify-center layout px-0">
                  <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                  <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                </td>
              </template>              
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-icon>globe</v-icon>
        <v-card flat>
          <v-card-title>AFL Tournament
            <v-spacer></v-spacer>
            <v-text-field label="Search" v-model="search" append-icon="search" single-line hide-detail></v-text-field>
          </v-card-title>
          <v-data-table
            :pagination.sync="pagination"
            :headers="columns" :items="games" :search="search">
            <template slot="items" slot-scope="props">                    
              <td>{{ props.item.id }}</td>
              <td class="text-xs-left">{{ props.item.round }}</td>
              <td class="text-xs-left">{{ props.item.date }}</td>
              <td class="text-xs-left">{{ props.item.home_v_away_teams }}</td>
              <td class="text-xs-left">{{ props.item.venue }}</td>
              <td class="text-xs-left">{{ props.item.result }}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
            </v-alert>              
          </v-data-table>    
        </v-card>
      </v-tab-item>      
    </v-tabs-items>
  </v-toolbar>
</v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="node_modules/vuetify/dist/vuetify.js"></script>
<script src="lib/accounting.js"></script>

<script src="node_modules/vuex/dist/vuex.js"></script>
<script src="node_modules/lodash/lodash.js"></script>
<script src="components/mystore.js"></script>
<script src="components/tournamentinfo.js"></script>
</body>
</html>
