<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<head>
  <title>Demo Vue.js+PHP+MySQL</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.14/vuetify.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body >
<div id="app" class="container">
  <v-app>
    <v-toolbar color="cyan" dark tabs>
      <v-toolbar-side-icon><img src="images/tristars2.png" width="70" height="40"></v-toolbar-side-icon>
      <v-toolbar-title>AFL Tournaments</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon href="/checkout.html"><v-icon>shopping_cart</v-icon></v-btn>
      <v-btn icon href="/profile.html"><v-icon>folder_open</v-icon></v-btn>

      <v-btn color="success" href="/apiUser.html">Users<v-icon>account_box</v-icon></v-btn>
      <v-btn color="warning" href="/apiProduct.html">New Products<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="info" href="/apiTournament.html">Games<v-icon>directions_run</v-icon></v-btn>
      <v-btn color="warning" href="/apiCustomer.html">Customer Profile<v-icon>account_box</v-icon></v-btn>      
      <v-btn color="error" href="/apiRegister.html">Sign Up<v-icon>how_to_reg</v-icon></v-btn>
      <v-btn color="success" href="/apiLogin.html">Sign in<v-icon>input</v-icon></v-btn>
      <v-btn color="info" href="/apiLogin.html">Log out<v-icon>logout</v-icon></v-btn>
      <v-btn icon><v-icon>search</v-icon></v-btn>
      <v-btn icon><v-icon>more_vert</v-icon></v-btn>

      <v-tabs slot="extension" v-model="tabs" color="cyan" align-with-title>
        <v-tabs-slider color="yellow"></v-tabs-slider>
        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>
    </v-toolbar>

    <v-tabs-items v-model="tabs">
    <v-tab-item id='user_tab'>
      <v-layout column>
        <v-toolbar color="pink" dark><v-toolbar-title>User Management</v-toolbar-title></v-toolbar>
        <v-container fluid grid-list-md>
          <v-form v-model="valid" ref="form">
            <v-layout row wrap>
              <v-flex xs4><v-text-field label="User Name" v-model="user.username" :rules="usernameRules" :counter="10"></v-text-field></v-flex>
              <v-flex xs4><v-text-field label="Password" v-model="user.password"></v-text-field></v-flex>
              <v-flex xs4><v-combobox v-model="user.role" :items="roles" label="Select your role:"></v-combobox></v-flex>
              <v-flex xs4><v-text-field label="First name" v-model="user.firstname"></v-text-field></v-flex>
              <v-flex xs4><v-text-field label="Last name" v-model="user.lastname"></v-text-field></v-flex>
              <v-flex xs4><v-text-field label="Email" v-model="user.email" :rules="emailRules"></v-text-field></v-flex>
              <v-flex xs6><v-text-field label="Address 1" v-model="user.address1"></v-text-field></v-flex>
              <v-flex xs6><v-text-field label="Address 2" v-model="user.address2"></v-text-field></v-flex>
              <v-flex xs4><v-text-field label="Post Code" v-model="user.postcode"></v-text-field></v-flex>
              <v-flex xs4><v-text-field label="Town" v-model="user.town"></v-text-field></v-flex>
              <v-flex xs4><v-select label="Country" v-model="user.country" :items="countries"></v-select></v-flex>         
              <v-flex xs6><v-text-field label="Bank BSB" v-model="user.bankbsb"></v-text-field></v-flex>
              <v-flex xs6><v-text-field label="Bank Account" v-model="user.bankaccount"></v-text-field></v-flex>
            </v-layout>
            <v-btn @click="save" :class="{ red: !valid, green: valid }">save</v-btn>
            Status: {{ result }}
            <span class="badge badge-danger">{{error}}</span>
<!-- <button v-on:click="getAllData" class="btn btn-danger">Fetch Data from Server</button> -->
          </v-form>
        </v-container>
        <v-container fluid grid-list-md>
          <v-flex xs12>
            <v-card dark color="primary">
              <div>
              <v-data-table :headers="headers" :items="users" :search ="search" :pagination.sync="pagination">
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.username}}</td><td>{{ props.item.password}}</td><td>{{ props.item.email}}</td>
                  <td>{{ props.item.role}}</td><td>{{ props.item.address1}}</td><td>{{ props.item.address2}}</td>
                  <td class="justify-center layout px-0">
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                  </td>
                </template>
              </v-data-table>
              </div>            
            </v-card>
          </v-flex>
        </v-container>
      </v-layout>
    </v-tab-item>
    <!-- **************************************************************** -->
<v-tab-item id='team_tab'><v-icon>build</v-icon><v-card><v-card-text><teamcomponent></teamcomponent></v-card-text></v-card></v-tab-item>
<v-tab-item id='game_tab'><v-icon>motor</v-icon><v-card><v-card-text><gamecomponent></gamecomponent></v-card-text></v-card></v-tab-item> <v-tab-item id='bet_tab'><v-icon>motor</v-icon><v-card><v-card-text><betcomponent></betcomponent></v-card-text></v-card></v-tab-item>
    <!-- ***************************************************  -->
  </v-tabs-items>
</v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.14/vuetify.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
<script src="lib/accounting.js"></script>
<script src="lib/moment.js"></script>

<script src="components/comp2Team.js"></script>
<script src="components/comp2Game.js"></script>
<script src="components/comp2Bet.js"></script>
<script src="components/serviceuser.js"></script>

</body>
</html>