<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>testDynamic.html</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.3.4/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
<div id="app">
  <v-app>
    <button dark @click="cycle">Cycle</button>
    <h1><component :is="currentView"></component>  </h1>
  </v-app>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.3.4/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/vuetify@1.3.4,npm/sweetalert2@7.28.12"></script>
<script src="https://unpkg.com/vuex"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.js"></script>
<script src="lib/accounting.js"></script>
<script src="lib/moment.js"></script>
<script>
const Home          = { template: `<div>Home Component</div>`, };
const BookComponent = { template: `<div>Book Component</div>`, };
const HeaderComponent = Vue.component('headercomponent', {
  props: ['cartItemCount'],
  template: `
  <header>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <h1><router-link :to="{name: 'iMain'}">{{ sitename }}</router-link></h1>
    </div>
    <div class="nav navbar-nav navbar-right cart">
        <router-link active-class="active" tag="button" class="btn btn-default btn-lg" :to="{name: 'Form'}">
        <span class="glyphicon glyphicon-shopping-cart">{{ cartItemCount }}</span> Checkout
        </router-link>
      </button>
    </div>
  </div>
  </header>
  `,
  data () { return { sitename: "Vue.js Pet Depot", }  },
  methods: {
    showCheckout() {
      console.log('10) showCheckout'); 
      this.$router.push({name: 'Form'}); 
    },
  } // end of methods  
});
const FormComponent = { template: `
    <v-layout column>
      <div>Form Component</div>
      <v-toolbar color="pink" dark><v-toolbar-title>Period Management</v-toolbar-title></v-toolbar>
      <v-container fluid grid-list-md>
        <v-form v-model="valid" ref="form">
          <v-layout row wrap>
            <v-flex xs2>
                  <v-select label="Organiser" :items="organisers" @change="changeOrganiser" v-model="editedItem.organiser" ></v-select>
            </v-flex>

            <v-flex xs3>
              <v-radio-group v-model="editedItem.period" row label="Period:">
                <v-radio v-for="(item,i) in ['Week','Round']" :key="i" :label="item" :value="item"></v-radio>
              </v-radio-group>
            </v-flex>

            <v-flex xs2>   
              <!-- =============== date picker-start ==========================  -->
              <v-menu ref="menu" lazy :close-on-content-click="false" v-model="menu" transition="scale-transition" 
                            offset-y full-width :nudge-right="40" min-width="290px" :return-value.sync="editedItem.start">
                <v-text-field slot="activator" label="Start date" v-model="editedItem.start" prepend-icon="event" readonly></v-text-field>
                <v-date-picker v-model="editedItem.start" no-title scrollable><v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(editedItem.start)">OK</v-btn>
                </v-date-picker>
              </v-menu>
              <!-- --------------------------------------------------------------------------- -->
            </v-flex>     
            <v-flex xs3><v-text-field label="Total number of period" v-model="editedItem.last"></v-text-field></v-flex> 
          </v-layout>
          <v-btn @click="generate">Generate</v-btn>
          Status: {{ result }}
          <span class="badge badge-danger">{{error}}</span>
        </v-form>
      </v-container>
      <v-container fluid grid-list-md>
        <v-flex xs12>
          <v-card dark color="primary">
            <div>
              <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>     
              <v-data-table :headers="headers" :items="periods" :pagination.sync="pagination" :search="search">
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.title}}</td>    <td>{{ props.item.start}}</td>
                  <td>{{ props.item.end_dt}}</td>      <td>{{ props.item.color}}</td>
                  <td>{{ props.item.organiser}}</td>      <td>{{ props.item.round}}</td>
                  <td>{{ props.item.remarks}}</td>  <td>{{ props.item.id}}</td>
                  <td>
                    <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
                    <v-icon small @click="deleteItem(props.item)">delete</v-icon>
                  </td>
                </template>
                <template slot="footer">
                  <td colspan="100%"><strong>Notes: Just fill the blanks to register a new Period</strong></td>
                </template>
              </v-data-table>
            </div>            
          </v-card>
        </v-flex>
      </v-container>
    </v-layout>
  `,
  data () {
    return {
      periods: [],
      menu: false,
      menu2: false,
      search: '',
      result: '',
      error: '',
      valid: false,
      editedIndex: -1,

      editedItem: { organiser: '', period: '', start: '', last:'' },
      organisers: ['NBA', 'NBL', 'NFL', 'AFL'],
      periods: ['Week', 'Round'],

      pagination: {},
      headers: [ { text: 'Title', value: 'title' },        { text: 'Start', value: 'start' } 
                ,{ text: 'End', value: 'end_dt' },        { text: 'Color', value: 'color' }
                ,{ text: 'Organiser', value: 'organiser' }, { text: 'Round', value: 'round' }
                ,{ text: 'Remarks', value: 'remarks' },{ text: 'Id', value: 'id' } ],
    }
  },
  methods: {
    changeOrganiser(selectObj) {
      this.result = 'Getting data from server...';
      var postdata = { op: "getOrganiser", orgid: selectObj }; 
      this.$http.post('php/apiOrganiser.php', JSON.stringify(postdata), { headers: { 'Content-Type': 'application/json' }
        }).then(response => { this.editedItem = response.body.data[0];
                              console.log("21) changeOrganiser", this.editedItem);
        },      response => { this.result = 'Failed to load data to server.';
      });
    },    
    changePeriod(selectObj) { this.editedItem.period = selectObj; },  
    generate: function () {
      console.log("11) generate:editedItem");
      this.error = '';
      this.result = 'Saving data to server...';
      var postdata = { "op": "autoGenPeriod", "data": this.editedItem };
      this.$http.post('php/apiPeriod.php', postdata,{ headers: { 'Content-Type': 'application/json' } })
        .then(response => {
//          this.getAllData();                 // refresh datatable
        }, response => { this.result = 'Failed to save data to server.'; }
        );
    },
    editItem: function(item){ 
      this.editedIndex = this.periods.indexOf(item);
      this.editedItem = Object.assign({}, item);
    },
    deleteItem: function(item){
      var r = confirm("Are you sure to delete this item ("+item.id+':'+item.title+ ")?");
      if(r==true) {
        this.result = 'Deleting data to server...';
        var postdata = { op: "delete", id: item.id };
        this.$http.post('php/apiPeriod.php', JSON.stringify(postdata),{ headers: { 'Content-Type': 'application/json' }
          }).then(response => { this.result = response.body;
                                this.getAllData();    // refresh datatable
          },      response => { this.result = 'Failed to delete data.';
        });
      }
    },
    getAllData: function () {
      console.log('10) manperiods.js: getAllData');
      this.result = 'Getting data from server...';
      var postdata = { op: "getPeriods" };
      this.$http.post('php/apiPeriod.php', JSON.stringify(postdata)
                                         , { headers: { 'Content-Type': 'application/json' }
        }).then(response => { this.periods = response.body.data;
                              console.log(this.periods);
        },      response => { this.result = 'Failed to load data to server.';
      });
    }
  },   // end of methods
  beforeMount(){
   console.log("1) beforeMount");
   this.getAllData(); 
 }
};

const routes = [
  { path: '/',     component: Home, name: 'iMain', props: true },  // homeinfo.js  
  { path: '/form', component: FormComponent, name: 'Form' },            
  { path: '/test', redirect: '/calendar/list-views.html' },  
]

const router = new VueRouter({
  mode: 'history',
  routes 
})

Vue.use(Vuex);
const store = new Vuex.Store({
  state: {
    loginUser: { username: 'thtan99', role: 'guest', email: 'guest@gmail.com', vcash: 0 },
    baseUrl: 'http://vueapp.test/database/',
    resultUrl: 'https://www.footywire.com/afl/footy/ft_match_list',
    xchgRate: 2.5,
    myevent: '',
    sport: { organiser: 'NBA', round: 'Round 4', today: '2018/12/20' },   // default keys   - servicebet 
  },
  mutations: {
    modifyMyRecord (state, newUser)     { state.loginUser = newUser; },
    modifyEventRecord (state, newEvent) { state.myevent = newEvent;  },
    modifySportRecord (state, newSport)   { state.sport = newSport; },     // same as organiser
  }
});

new Vue({
  el: '#app',
  router,
  store,
  components: {
    'book-component': BookComponent,
    'form-component': FormComponent,
    'my-header'     : HeaderComponent },
  data() { return { currentView: BookComponent } },
  methods: {
    cycle() {
      if (this.currentView === HeaderComponent)
        this.currentView = BookComponent
      else
        this.currentView = this.currentView === BookComponent ?
          FormComponent : HeaderComponent;
    }
  },  // end of methods
});   // Vue
</script>
</body>
</html>