
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart2</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <topbar></topbar>
	<div class="row">
  		<div class="col-md-4 my-2">
    		<div class="panel panel-primary">
      			<div class="panel-heading">Favorite Table</div>
      			<div class="panel-body" style="font-size: small">
        			<div class="table-responsive">
						<v-client-table :columns="stkcolumns" :data="prices" :options="dt1options"></v-client-table> 					
        			</div>
				</div>
			</div>
		</div>
		<div class="col-md-8 my-2">
    		<div class="panel panel-info">
      			<div class="panel-heading">Bar Chart</div>
      			<div class="panel-body">
					<div id="chartContainer1" style="height: 500px; width: 100%;"></div>
				</div>
			</div>
		</div>
    </div>
	<div class="row">
  		<div class="col-md-6 my-2">
    		<div class="panel panel-primary">
      			<div class="panel-heading">eChart1:latest price composition</div>
      			<div class="panel-body">
     				<div>
            			<input type="button" value="exchangeXY" onclick="go.exchangeXY();">
            			<input type="button" value="illegal use getModel.option" onclick="go.illegal();">
            			<input type="button" value="dataZoom restore (error if view changed)" onclick="go.dataZoomRestore();">
         <table><tr><td>
		<v-select :on-change="changeFavorite" v-model="vs1selected" :options="vs1options" placeholder="Select a favorite">
		</v-select>
		</td><td>  
            			<v-select :on-change="changeSector" v-model="vs2selected" :options="vs2options" placeholder="Select a sector"></v-select>  
        </td></tr></table>    			
        			</div> 				
					<echart :options="echart2"></echart> 
				</div>
			</div>
		</div>
  		<div class="col-md-6 my-2">
    		<div class="panel panel-info">
      			<div class="panel-heading">eChart2:latest prices</div>
      			<div class="panel-body">				
					<echart :options="echart3"></echart> 
				</div>
			</div>
		</div>
<!--	<my-dropdown></my-dropdown>-->		
<!-- ************************************** -->		
	</div>
	<div class="row">
  		<div class="col-md-6 my-2">
    		<div class="panel panel-primary">
      		<div class="panel-heading">e4chart:daily prices</div>
      		<div class="panel-body">
					   <echart :options="e4chart"></echart>
          </div> 
				</div>
			</div>
			<div class="col-md-6 my-2">
    		<div class="panel panel-info">
      		<div class="panel-heading">e5LineBar:quarter financial report</div>
      		<div class="panel-body">	
      		  <v-select :on-change="changeTicker" v-model="vs3selected" :options="vs3options" placeholder="Select a ticker"></v-select>	
					  <echart :options="e5combo"></echart> 
				  </div>
			  </div>
		  </div>
  </div>
<!-- ************************************** -->		
  <div class="row">
      <div class="col-md-6 my-2">
        <div class="panel panel-primary">
          <div class="panel-heading">e6chart:eps</div>
          <div class="panel-body">
           <echart :options="e6chart" :auto-resize=true style="height: 400px; width: 100%;"></echart>
<!-- echart defines in axios_prices.js; auto-resize => responsive -->
<!-- goto for more info: https://github.com/ecomfe/vue-echarts -->
          </div>
        </div>
      </div>  	
  </div>

  <div class="row">
    <div class="col-md-12 my-2">
      <div class="panel panel-primary">
        <div class="panel-heading">Sharpes Table</div>
          <div class="panel-body" style="font-size: small">
            <div class="table-responsive">
              <v-client-table :columns="shrpcolumns" :data="sharpes" :options="dt2options">
                  <a slot="ticker" slot-scope="props" target="_blank" :href="props.row.ticker" class="glyphicon glyphicon-eye-open">
                    {{props.row.ticker}}
                  </a>  
              </v-client-table>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- ************************************** -->
<!-- Vue template for my-dropdown component. -->

<!-- ************************************** -->
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<!-- <script src="https://unpkg.com/vuetable-2@1.6.0"></script>  -->
<script src="lib/vue-echarts.js"></script>
<script src="lib/vue-tables-2.min.js"></script>
<script src="lib/vue-select.js"></script>


<script src="js/topbar_tabs.js"></script>    <!-- main vue js components here -->
<script src="js/axios_prices.js"></script><!--
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
-->
</html>