<!doctype html>
<html>
	<head>
	  <meta charset="UTF-8">
		<title>Fetch records from MySQL Database with Vue.js and PHP</title>	
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.14/vuetify.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	<body>
	
		<div id='myapp'>			
			<input type='button' @click='allRecords()' value='Select All notes'>
			<br><br>
			<!-- Select record by ID -->
			<input type='text' v-model='id' placeholder="Enter id between 1 - 24">
			<input type='button' @click='recordByID()' value='Select note by ID'>
			<br><br>
			<!-- List records -->
			<table border='1' width='80%' style='border-collapse: collapse;'>
				<tr><th>Id</th><th>Subject</th><th>Notes</th></tr>
				<tr v-for='note in notes'>
					<td>{{ note.id }}</td><td>{{ note.subject }}</td>
					<td>
						<div>
							<v-data-table	:headers="headers" :items="tabledata"
    							hide-actions class="elevation-1">
    						<template slot="items" slot-scope="props">
      						<td v-for="header in headers">
      							{{ props.item[header.value] }}
      						</td>
    						</template>
  						</v-data-table>
						</div>
					</td>
					<td><a href="javascript:void(0)" v-on:click="editItem(item)">edit</a></td>
				</tr>
			</table>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vuetify/1.1.14/vuetify.js"></script>

		<!-- Script -->
		<script>
			var app = new Vue({
				el: '#myapp',
				data: {
					dialog: false,
	        item: { city: '', status: '' },
					notes: "",
					id: 0,
					headers: [	{ text: 'City', value: 'city' },	{ text: 'Status', value: 'status' }	],
					key: "",
					value: "",
					tabledata:[],
				},
				methods: {
					allRecords: function() {
						axios.get('database/json_faqs.php')
							.then(function (response) {	app.notes = response.data;	})
						  .catch(function (error) {	console.log(error); });
						}
					},
					recordByID: function(){
						console.log('2) recordById');
						console.log(this.id);
						if(this.id > 0){
							axios.get('database/json_faqs.php', { params: { id: this.id } })
						  	.then(function (response) {	
						  		app.notes = response.data;
									app.tabledata = JSON.parse(app.notes[0].notes);    // 1) convert string to json object
									app.setHeaders(app.tabledata);
//									console.log('app.tabledata');
//									console.log(app.tabledata);
//									app.showJson2(app.tabledata);						// cannot use this - problem?????
						  	})
						  	.catch(function (error) {	console.log(error);	});
						}
					},
 					setHeaders: function(myBooks) {     // myBooks
						app.headers = [];												// 2) get header details
            for (let key in myBooks[0]) {
            	app.headers.push( { "text" : key, "value" : key } );
            };
 					},
				}       // methods
			});
		</script>
	</body>
</html>
