<!DOCTYPE html>
<html lang="en">
<head>
    <title>The greatest news app ever</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">     
</head>
<body>
<div id="app" class="container">
	<!-- select all records -->
	<input type="button" @click="allRecords()" value="Select All users">
	<br><br>
	<!-- select record by id -->
	<input type="text" v-model="userid" placeholder="Enter UserId">
	<input type="button" @click="recordByID()" value="Select user by ID">

<!-- List records -->
  	<table border='1' width='80%' style='border-collapse: collapse;'>
    	<tr>
      		<th>Username</th>
      		<th>Name</th>
      		<th>Email</th>
    	</tr>

    	<tr v-for='user in users'>
      		<td>{{ user.username }}</td>
      		<td>{{ user.name }}</td>
      		<td>{{ user.email }}</td>
    	</tr>
  	</table>

    <h3 class="text-center">VueNews</h3>
    <div class="row" v-for="posts in processedPosts">
    	<div class="columns medium-3" v-for="post in posts">
    		<div class="card">
    			<div class="card-divider">
    				{{ post.title }}
    			</div>
    			<a :href="post.url" target="_blank"><img :src="post.image_url"></a>
    			<div class="card-section">
    				<p>{{ post.abstract }}.</p>
    			</div>
    		</div>
    	</div>
    </div>
	<p><b>Title:</b><br> {{ title }}</p>
	<p><b>Body:</b><br> {{ body }}</p>
	<p><b>Id:</b><br> {{ id }}</p>		
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>
