.icon-bar {
	width: 22px; 
	height: 2px;
	background-color: white;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
.darkgreen { background-color: #00a65a !important;}
.brown {  background-color: #de6e4b !important; }
.lightgreen { background-color: #7fd1b9 !important; }
.rose {  background-color: #e56399 !important;}

figure {
  width: 100%;
  margin: 2em auto;
  padding: 0 1em;
}

figure .echarts {
  width: 99.9%;
  min-width: 400px;
  height: 20empx;
}

@media (max-width: 980px) {
  figure {
    width: 100%;
    margin: 1em auto;
  }

  figure .echarts {
    width: 99.9%;
    min-width: 0;
    height: 20em;
  }
}
